@import url("geral.css");

*{
    font-family: "Poppins", sans-serif;
}

body {   
    padding:5px; 
    flex-direction:column; 
    align-items:center; 
}

.cont_ingles{
    height: 400px;
}