@import url("geral.css");

.container {
    min-width: 20rem;
    min-height: 200px;
    background-color: transparent;
    border: 2x solid rgba(255, 255, 255, .2);
    border-radius: 10px;
    color: #fff;
    padding: 5px 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
    backdrop-filter: blur(10px); 
}

.cont_ingles{
    height: 500px;
}

.titulo_ing{
    padding-bottom: 10px;
    color: brown;

}

.container h1 {
    font-size: 2rem;
    text-align: center;
    color: #cb82cf;
    padding-bottom: 30px;
}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 40px;
    outline: none;
    font-size: 16px;
    color: #ffffff;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
    color: #d7d3d3;
}

.input-box i {
    position: absolute;
    right: 20px;
    top: 25%;
    font-size: 20px;
}

.lembrar {
    display: flex;
    justify-content: space-between;
    margin: -15px 0 15px;
}

.lembrar label input {
    accent-color: #fff;
    margin-right: 5px;
}

.lembrar a {
    text-decoration: none;
    color: #fff;

}

.lembrar a:hover {
    text-decoration: underline;
   
}

.botao {
    width: 100%;
    height: 50px;
    background-color: #fff;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
}

.btningles{
    padding-bottom: 15px;
}

.botao:hover {
    background-color: #cb82cf;
    border: 2px solid rgba(255, 255, 255, .2);
    color: #ffffff;
    transition: 0.5s;
}

.registro {
    font-size: 14px;
    text-align: center;
    margin: 20px 0 15px;
}

.registro a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}

.registro a:hover {
    text-decoration: underline;
}